.footerDami{
font-weight: 400;
font-size: 18px;
line-height: 167%;
color: #4b5563;
text-align: justify;
}

.company{
font-weight: 600;
font-size: 22px;
line-height: 136%;
color: #4b5563;
}

.footerNav{
font-weight: 400;
font-size: 18px;
line-height: 167%;
color: #4b5563;
}