.navText{
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color: #1f2937;
}
.signInLink{
    text-decoration: none;
}

@media (max-width: 991.98px) { 
    .signIn{
        /* display: none; */
        width: auto;
        font-size: 10px;
        height: auto;
        padding: 5px;
    }  
 }

 @media (max-width: 575.98px) { 
    .signIn{
        display: none;
    }
 }

 .CreateSmall{
    background-color: white;
    color: black;
    letter-spacing: 1px;
    border-radius: 20px;
    width: 145px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
 }

 .edit{
    text-decoration: none;
    color: white;
 }